version: "3.7"
services:
  app:
      build:
        args:
          user: cobi
          uid: 1000
        context: ./
        dockerfile: Dockerfile
      image: promobit
      container_name: promobit-app
      restart: unless-stopped
      working_dir: /var/www/
      volumes:
        - ./:/var/www
      networks:
        - promobit
  db:
      image: mysql:5.7
      container_name: promobit-db
      restart: unless-stopped
      environment:
        MYSQL_DATABASE: ${DB_DATABASE}
        MYSQL_ROOT_PASSWORD: ${DB_PASSWORD}
        MYSQL_PASSWORD: ${DB_PASSWORD}
        MYSQL_USER: ${DB_USERNAME}
        SERVICE_TAGS: dev
        SERVICE_NAME: mysql
        MYSQL_COLLATE: utf8mb4_unicode_ci
      volumes:
        - ./docker-compose/mysql:/docker-entrypoint-initdb.d
      ports:
          - "${DB_PORT}:3306"
      networks:
        - promobit
  nginx:
      image: nginx:1.17-alpine
      container_name: travellist-nginx
      restart: unless-stopped
      ports:
        - 8000:80
      volumes:
        - ./:/var/www
        - ./docker-compose/nginx:/etc/nginx/conf.d
      networks:
        - promobit
networks:
  promobit:
    driver: bridge

